menu {
    width: inherit;
    max-width: inherit;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    will-change: width;

    &::-webkit-scrollbar {
        display: none;
    }

    .admin {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1px;
        height: 100px;
        overflow: hidden;
        justify-content: center;
        background: rgba(var($adminSelectedBackgroundColorRgb), 1);
        cursor: pointer;
        text-decoration: none;
        will-change: width;
        z-index: 1;
        img {
            object-fit: cover;
            width: 60px;
            border-radius: 50%;
            margin-right: 12px;
            will-change: width;
        }
        strong {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: rgb(var($adminThemeColorRgb));
            will-change: width;
        }
    }
}
