@import 'variables';
@import 'dark-theme';
@import 'light-theme';

@import 'components';
@import 'layout/index';

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: var($adminFontFamily);
    font-size: var($adminFontSize);

    background: rgb(var($adminBackgroundColorRgb));
    color: rgb(var($adminFontColorRgb));

    @media screen and (max-width: 540px) {
        #{$adminAsideWidth}: 200px;
    }
    @media screen and (min-width: 541px) {
        #{$adminAsideWidth}: 300px;
    }
    @media screen and (min-width: 1200px) {
        #{$adminAsideWidth}: 17vw;
    }

    &::selection {
        color: rgb(var($adminSelectionColorRgb));
        background-color: rgb(var($adminSelectionBackgroundColorRgb));
    }

    &::-moz-selection {
        color: rgb(var($adminSelectionColorRgb));
        background-color: rgb(var($adminSelectionBackgroundColorRgb));
    }
}
