// Css变量
// 背景色
$adminBackgroundColorRgb: --admin-background-color-rgb;
// 菜单选中背景色
$adminSelectedBackgroundColorRgb: --admin-selected-background-color-rgb;
// 左侧栏背景色
$adminAsideBackgroundColorRgb: --admin-aside-background-color-rgb;
// 右侧主体色
$adminMainBackgroundColorRgb: --admin-main-background-color-rgb;
// 折叠按钮背景色
$adminCollapseBackgroundColorRgb: --admin-collapse-background-color-rgb;
// 折叠按钮文字颜色
$adminCollapseColorRgb: --admin-collapse-color-rgb;
// 主题色
$adminThemeColorRgb: --admin-theme-color-rgb;
// 复制背景色
$adminSelectionBackgroundColorRgb: --admin-selection-background-color-rgb;
// 复制文字颜色
$adminSelectionColorRgb: --admin-selection-color-rgb;
// 全局文字颜色
$adminFontColorRgb: --admin-font-color-rgb;
// 字体大小
$adminFontSize: --admin-font-size;
// 字体
$adminFontFamily: --admin-font-family;

// 左侧栏宽度
$adminAsideWidth: --admin-aside-width;

