$fontFamily: -apple-system, 'Noto Sans', 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial, 'Liberation Sans', 'PingFang SC', 'Hiragino Sans GB', 'Noto Sans CJK SC',
    'Source Han Sans SC', 'Source Han Sans CN', 'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;
$fontBaseSize: 14px;

// 暗色主题
// body背景色
$background: #262626;
$background2: #44475a;
// aside背景色
$asideBackground: #262626;
// 右侧主体背景色
$rightMainBackground: #282a36;
// 字体颜色
$fontColor: #f8f8f2;
// 折叠按钮背景色
$collapseBackground: #262626;
// 折叠按钮icon颜色
$collapseColor: #f8f8f2;
// 主题色
$themeColor: #ff79c6;
// 选中背景色
$selectionBackgroundColor: #ffb86c;
// 选中文字颜色
$selectionColor: #262626;

// 亮色主题
// body背景
//$background: #ffffff;
//$background2: #f0f0f0;
//// aside背景色
//$asideBackground: #ffffff;
//// 右侧主体背景色
//$rightMainBackground: #f7f7f7;
//// 字体颜色
//$fontColor: #262626;
//// 折叠按钮背景色
//$collapseBackground: #ffffff;
//// 折叠按钮icon颜色
//$collapseColor: #262626;
//// 主题色
//$themeColor: #ff79c6;
//// 选中背景色
//$selectionBackgroundColor: #ffb86c;
//// 选中文字颜色
//$selectionColor: #ffffff;
